* {
    margin: 0;
    padding: 0;
    
}

.sign-in{
    font-size: 175%;
   
}

.email-text {
    padding-top: 5%;
    padding-bottom: 3%;
}
input, button {
    margin-bottom: 10%;
}

.text-input {
    width: 95%;
    padding: 1.5%;
}
form {
    border: 1px solid grey;
    max-width: 400px;
    width: 10%;
    min-width: 250px;
    margin-top: 10vh;
    padding: 2%;
    border-radius: 1.5%;
}


header {
    width: 100%;
    display: flex;
    justify-content: center;
  
}

.forgot-password {
    color: rgb(0, 140, 255);
    text-decoration: none;
}

.need-help {
    color: rgb(0, 140, 255);
    text-decoration: none;
}

.create-account {
    background-color: rgb(236, 234, 234);
    border: 1px solid rgb(204, 204, 204);
    /* display: flex; */
    justify-content: center;
    margin-left: 37%;
    width: 26%;
    padding: 0.5%;
    border-radius: 2%;
}



.password1 {
    display: inline;
    margin-left: 14px;
    
}
.forgot-password {
    text-align: left;
    display: inline-flex;
    justify-content: space-evenly;
    margin-left: 19%;
}

.continue {
    width: 100%;
    padding: 2%;
    background-color: rgba(255, 196, 0, 0.856);
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    border-radius: 2%;
}


/* .new-to-amazon {
    width: 100%;
    text-align: center;
    color: grey;
    font-size: 150%;
} */

.divider {
	width: 400px;
	text-align:center;
    margin-left: 280px; 
    color: grey;
    display: block;
   
}

.divider hr {
	margin-left: auto;
	margin-right: auto;
	width: 140px;
    align-items: center;
}

.hr-left {
    float: left;
}

.hr-right {
    float: right;
}

.main1 {
    width: 30%;
    display: flex;
    justify-content:  center;
    justify-content: space-evenly;
    margin-left: 35%;
    padding-top: 3%;
}

.footer1 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.conditions-of-use {
    text-decoration: none;
    color: rgb(0, 140, 255);
}

.privacy-policy {
    text-decoration: none;
    color: rgb(0, 140, 255);
}

.help {
    text-decoration: none;
    color: rgb(0, 140, 255);
}